.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    padding: 28px 19px 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
